# see https://stackoverflow.com/a/36160963/3326749
# see https://stackoverflow.com/a/49052417/3326749
# see https://docs.aws.amazon.com/zh_cn/elasticbeanstalk/latest/dg/AWSHowTo.cloudwatchlogs.html

#container_commands:
#  create_logs_dir:
#    command:
#      - mkdir -p $LOGS_FOLDER
#      - chmod 755 $LOGS_FOLDER



# from https://github.com/awsdocs/elastic-beanstalk-samples/blob/master/configuration-files/aws-provided/instance-configuration/logs-streamtocloudwatch-linux.config

files:
  "/etc/awslogs/awscli.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [plugins]
      cwlogs = cwlogs
      [default]
      region = `{"Ref":"AWS::Region"}`

  "/etc/awslogs/awslogs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [general]
      state_file = /var/lib/awslogs/agent-state

  "/etc/awslogs/config/logs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [/var/log/messages]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/flask_app/full.log"]]}`
      log_stream_name = {instance_id}
      file = /var/log/flask_app/full.log

      [/var/log/dmesg]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/flask_app/info.log"]]}`
      log_stream_name = {instance_id}
      file = /var/log/flask_app/info.log

      [/var/log/dmesg]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "var/log/flask_app/error.log"]]}`
      log_stream_name = {instance_id}
      file = /var/log/flask_app/error.log

commands:
  "chkconfig":
    command: chkconfig awslogs on
  "restart_awslogs":
    command: service awslogs restart
