# see https://stackoverflow.com/a/36160963/3326749
# see https://stackoverflow.com/a/49052417/3326749
# see https://docs.aws.amazon.com/zh_cn/elasticbeanstalk/latest/dg/AWSHowTo.cloudwatchlogs.html

#container_commands:
#  01_setup:
#    command: /home/ec2-user/setup.sh


files:
#  see https://stackoverflow.com/a/29562721/3326749
#  "/home/ec2-user/setup.sh":
#    mode: "000755"
#    owner: root
#    group: root
#    content: |
#      #!/bin/bash
#
#      # Commands that will be run on container_commmands
#      # Here the container variables will be visible as environment variables.
#      mkdir -p $LOGS_FOLDER
#      chmod 755 -R $LOGS_FOLDER

  # from https://github.com/awsdocs/elastic-beanstalk-samples/blob/master/configuration-files/aws-provided/instance-configuration/logs-streamtocloudwatch-linux.config
  "/etc/awslogs/awscli.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [plugins]
      cwlogs = cwlogs
      [default]
      region = `{"Ref":"AWS::Region"}`

  "/etc/awslogs/awslogs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [general]
      state_file = /var/lib/awslogs/agent-state

  # `/opt/python/log/` has no permission issue for writing logs file
  "/etc/awslogs/config/logs.conf" :
    mode: "000600"
    owner: root
    group: root
    content: |
      [flask_app/full.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "flask_app/full.log"]]}`
      log_stream_name = {instance_id}
      file = /opt/python/log/flask_app/full.log

      [flask_app/info.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "flask_app/info.log"]]}`
      log_stream_name = {instance_id}
      file = /opt/python/log/flask_app/info.log

      [flask_app/error.log]
      log_group_name = `{"Fn::Join":["/", ["/aws/elasticbeanstalk", { "Ref":"AWSEBEnvironmentName" }, "flask_app/error.log"]]}`
      log_stream_name = {instance_id}
      file = /opt/python/log/flask_app/error.log

commands:
  "chkconfig":
    command: chkconfig awslogs on
  "restart_awslogs":
    command: service awslogs restart
